#header {
	background-color: #bcd1f2;
	float: left;
	width: 100%;
	text-align: center;
}

#sidemenu {
	background-color: #bcd1f2;
	float: left;
	width: 15%;
}
#sidemenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

#sidemenu li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    border-bottom: 1px solid #000;
}

/* Change the link color on hover */
#sidemenu li a:hover {
    background-color: #555;
    color: white;
}

#site-content {
	background-color: #fff;
	float: left;
	width: 85%;
	min-height: 80%;
}

#footer {
	background-color: #bcd1f2;
	text-align: center;
}