<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">
	<bean id="cal" class="java.util.Calendar" factory-method="getInstance" />
	<bean id="t1" class="com.raghu.bean.TestBean" factory-method="getTestBean">
		<constructor-arg> <!-- passing argument to factory method -->
			<value>Gmg. my dear friends...</value>
		</constructor-arg>
	</bean>
	<bean id="db" class="com.raghu.bean.DemoBean">
		<property name="cl">
			<ref bean="cal" />
		</property>
		<property name="tb">
			<ref bean="t1" />
		</property>
	</bean>
</beans>
