<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
	<util:list id="coursesList" list-class="java.util.LinkedList"
		value-type="java.lang.String">
		<value>ECE</value>
		<value>CSE</value>
		<value>IT</value>
	</util:list>
	<util:set id="coursesSet" set-class="java.util.TreeSet"
		value-type="java.lang.String">
		<value>ECE</value>
		<value>CSE</value>
		<value>IT</value>
		<value>IT</value>
	</util:set>
	<util:map id="coursesMap" key-type="java.lang.String"
		value-type="java.lang.String" map-class="java.util.TreeMap">
		<entry key="1" value="ECE" />
		<entry key="2" value="CSE" />
		<entry key="3" value="IT" />
	</util:map>
	<bean id="college" class="com.raghu.bean.College">
		<property name="coursesList" ref="coursesList" />
		<property name="coursesSet" ref="coursesSet" />
		<property name="coursesMap" ref="coursesMap" />
	</bean>


</beans>
